._{
    display: flex;
    align-items: center;

    width: 20.3rem;
    height: 7.3rem;
    box-sizing: border-box;
    padding: 1.25rem;
    gap: 0.5rem;
    background-color: white;
    border: 1px solid #F3F3F3;
    border-radius: 1.25rem;
    font-family: 'Inter';
    font-style: normal;
}

.wrapper{
    display: flex;
    align-items: center;
}

.photo{
    width: 4.375rem;
    height: 4.375rem;
}

.aboutSneaker{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 0.5rem;
}

.describe{
    font-weight: 400;
    font-size: 0.875rem;
}

.icon{
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}