.wrapper{
    height: 80vh;
    font-family: 'Inter';
    font-style: normal;
}

.header{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: 0;
    margin: 0 10px;
}
.arrowBack{
    width: 35px;
    height: 35px;
    margin-right: 21px;
    cursor: pointer;
    border-radius: 9px;
}

.arrowBack:hover{
    box-shadow: 4px 6px 13px -3px rgba(34, 60, 80, 0.2);
}

.cards{
    display: flex;
    width: 100%;
    gap: 2.5rem;
    margin: 2rem 3.75rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
}

.containerArea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sadSmile{

}

.text1{
    font-weight: 600;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 11px;
}

.text2{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.4;
    margin-bottom: 70px;
}