._{
    width: 13.125rem;
    border-radius: 2.5rem;
}

/* ._:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
} */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0 2rem 0;
    border: 1px solid #F3F3F3;
    border-radius: 2.5rem;
}

.wrapper:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
}

.sneaker{
    width: 8.3rem;
    height: 6.875rem;
}

.infoSneaker{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like{
    width: 1rem;
    height: 1rem;
    fill: #ECECEC;
}

.iconArea{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 1px solid #F8F8F8;
    border-radius: 0.5rem;
    left: 0;
    top: 1rem;
    cursor: pointer;
}

.iconArea:hover{
    background-color: #FEF0F0;
}

.iconArea:hover .like{
    fill: #FF8585;
}

.name{
    width: 10rem;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
}

.costs{
    position: relative;
    width: 9.375rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 1rem;
}

.price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    text-transform: uppercase;
    color: #BDBDBD;
}

.priceLabel{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #000000;
}

.btnPlus{
    position: absolute;
    right: 0;
    cursor: pointer;
}