.preloader{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.preloader__loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes ldio-a3x0ywmrcmc {
    0 % {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}
.ldio-a3x0ywmrcmc div {
    position: absolute;
    width: 91.8px;
    height: 91.8px;
    border: 10.2px solid #99ced9;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-a3x0ywmrcmc div {
    animation: ldio-a3x0ywmrcmc 1s linear infinite;
    top: 102px;
    left: 102px;
}
.loadingio-spinner-rolling-0dasqaju5fnu {
    width: 204px;
    height: 204px;
}
@keyframes ldio-a3x0ywmrcmc {
    0% {transform: translate(-50%,-50%) rotate(0deg);}
    100% {transform: translate(-50%,-50%) rotate(360deg);}
}
.ldio-a3x0ywmrcmc div {
    position: absolute;
    width: 91.8px;
    height: 91.8px;
    border: 10.2px solid #99ced9;
    border-top-color: transparent;
    border-radius: 50%;
}
.ldio-a3x0ywmrcmc div {
    animation: ldio-a3x0ywmrcmc 1s linear infinite;
    top: 102px;
    left: 102px
}
.loadingio-spinner-rolling-0dasqaju5fnu {
    width: 204px;
    height: 204px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
    background-color: transparent;
}
.ldio-a3x0ywmrcmc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    background-color: transparent;
}
.ldio-a3x0ywmrcmc div {box-sizing: content-box;}

.ldio-a3x0ywmrcmc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
    background-color: transparent;
}
.ldio-a3x0ywmrcmc div {box-sizing: content-box;}

